*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
/*Primary*/
--Softblue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);

/*Neutral*/
--Verydarkblue-mainBG: hsl(217, 54%, 11%);
--Verydarkblue-cardBG: hsl(216, 50%, 16%);
--Verydarkblue-line: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}


/*Typographies*/
h1,h2,h3,h4,h5,p {
    font-family: "Outfit", sans-serif;
}

h1 {
    color: var(--White);
    font-size: 22px;
    font-weight: 600;
}

h2 {
    color: var(--Softblue);
    font-size: 18px;
    font-weight: 400;
}

h3 {
    color: var(--White);
    font-size: 16px;
    font-weight: 400;
}

body {
    max-width: max-content; /*This makes the body in max-width based on the content*/
    margin: auto; /*This makes the body all of its items inside automatically centered y and x axis*/
    background-color: var(--Verydarkblue-mainBG);
}

.container {
    max-width: 1440px; /*Add maximum width for this container*/
    height: 100vh; /*makes the container 100% view height*/
    display: flex; /*Make this a flex so that items inside of it can be aligned*/
    justify-content: center; /*Positions flex items to center horizontaly ( X axis )*/
    align-items: center; /*Positions flex items to center vertically (Y axis>*/
}

.card-box { /*This is now flex item. parent is container*/
    background-color: var(--Verydarkblue-cardBG);
    height: 550px; /*Sets hard height*/
    width: 340px; /*Sets hard width*/
    border-radius: 15px;
    padding: 25px;

    display: flex; /*Make this a flex parent. all of items inside of this will become flex-item*/
    flex-direction: column; /*The default flex-direction is row, i changed it to column*/
    justify-content: space-between; /*add space between flex item depending on remaining space*/
}

.image-container{
    position: relative;
    border-radius: 10px;
}

.image{
    border-radius: 10px;
    width: 100%;
    display: block; /*makes the image displayed one line block*/
    transition: .5s ease;
}

.icon-view{
    position: absolute; /*Makes the eye icon in absolute position. meaning anywhere inside the relative image-container*/
    top: 47%; /*adjust y -axis*/
    left: 43%; /*adjust x - axis*/
    visibility: hidden; /*Hides the icon */
}

.image-container:hover .image {
    cursor: grab; /*Changes the cursor when mouse is hovered in the image-container*/
    opacity: 0.3; /*then sets the opacity*/
}
  
.image-container:hover .icon-view { 
    visibility: inherit; /*display the icon when mouse is hovered in the image-container*/
}

.image-container:hover{
    background-color: var(--Cyan);
}

h1:hover, h3:hover { /*Changes the text color and cursor when mouse is hovered*/
    color: var(--Cyan);
    transition: .5s ease;
    cursor: grab;
}

.circle-image { /*Targets the image inside this div*/
    width: 35px;
    border-width: 1px; /*Thickness of border*/
    border-style: solid; /*Style of border*/
    border-color: var(--White); /*Color of the border*/
    border-radius: 50%; /*Make the border to become circle*/
}

.pricing-box {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
}

.pricing-box > * {
    padding-top: 5px;
}

.fa-ethereum {
    color: var(--Cyan);
}

.fa-clock, p {
    color: var(--Softblue);
}

.eth-text, .days-text, p {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.user-box {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--Verydarkblue-line);

    padding-top: 10px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.user-box > * {
    padding-top: 5px;
}

