*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
/*Primary*/
--Softblue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);

/*Neutral*/
--Verydarkblue-mainBG: hsl(217, 54%, 11%);
--Verydarkblue-cardBG: hsl(216, 50%, 16%);
--Verydarkblue-line: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}


/*Typographies*/
h1,h2,h3,h4,h5,p {
    font-family: "Outfit", sans-serif;
}

body {
    max-width: max-content;
    margin: auto;
    background-color: var(--Verydarkblue-mainBG);
}

.container {
    max-width: 1440px;
    height: 100vh;
    border: 5px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-box {
    background-color: var(--Verydarkblue-cardBG);
    height: 430px;
    width: 300px;
    border-radius: 15px;
}